In [1]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("train.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.columns
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
df.shape

(891, 12)

In [4]:
df.drop("PassengerId",axis=1,inplace=True)
df.drop("Ticket",axis=1,inplace=True)
df.drop("Cabin",axis=1,inplace=True)

df.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [5]:
df.fillna("0",inplace=True)
df.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
df.Sex=lbl.fit_transform(df.Sex)
df.Embarked=lbl.fit_transform(df.Embarked)
df.Sex,df.Embarked

(0      1
 1      0
 2      0
 3      0
 4      1
       ..
 886    1
 887    0
 888    0
 889    1
 890    1
 Name: Sex, Length: 891, dtype: int32,
 0      3
 1      1
 2      3
 3      3
 4      3
       ..
 886    3
 887    3
 888    3
 889    1
 890    2
 Name: Embarked, Length: 891, dtype: int32)

In [7]:
df.drop("Name",axis=1,inplace=True)
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         3
1         1       1    0  38.0      1      0  71.2833         1
2         1       3    0  26.0      0      0   7.9250         3
3         1       1    0  35.0      1      0  53.1000         3
4         0       3    1  35.0      0      0   8.0500         3

In [8]:
x=df.iloc[:,1:]
y=df.iloc[:,0]
x,y

(     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
 0         3    1  22.0      1      0   7.2500         3
 1         1    0  38.0      1      0  71.2833         1
 2         3    0  26.0      0      0   7.9250         3
 3         1    0  35.0      1      0  53.1000         3
 4         3    1  35.0      0      0   8.0500         3
 ..      ...  ...   ...    ...    ...      ...       ...
 886       2    1  27.0      0      0  13.0000         3
 887       1    0  19.0      0      0  30.0000         3
 888       3    0     0      1      2  23.4500         3
 889       1    1  26.0      0      0  30.0000         1
 890       3    1  32.0      0      0   7.7500         2

 [891 rows x 7 columns],
 0      0
 1      1
 2      1
 3      1
 4      0
       ..
 886    0
 887    1
 888    0
 889    1
 890    0
 Name: Survived, Length: 891, dtype: int64)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaled=MinMaxScaler()
x=scaled.fit_transform(x)
x

array([[1.        , 1.        , 0.275     , ..., 0.        , 0.01415106,
        1.        ],
       [0.        , 0.        , 0.475     , ..., 0.        , 0.13913574,
        0.33333333],
       [1.        , 0.        , 0.325     , ..., 0.        , 0.01546857,
        1.        ],
       ...,
       [1.        , 0.        , 0.        , ..., 0.33333333, 0.04577135,
        1.        ],
       [0.        , 1.        , 0.325     , ..., 0.        , 0.0585561 ,
        0.33333333],
       [1.        , 1.        , 0.4       , ..., 0.        , 0.01512699,
        0.66666667]])

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
lgr=LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10000)
model=lgr.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_pred,y_test)

0.8022388059701493

In [11]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=200)
from sklearn.metrics import accuracy_score
#lgr=LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10000)
model2=rfc.fit(x_train,y_train)
y_pred2=model2.predict(x_test)
accuracy_score(y_pred2,y_test)

0.8208955223880597

In [12]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=200)
from sklearn.metrics import accuracy_score
#lgr=LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10000)
model3=rfr.fit(x_train,y_train)
y_pred3=model3.predict(x_test)
accuracy_score(y_pred2,y_test)

0.8208955223880597

In [13]:
import pickle
pickle_out = open("model.pkl", "wb")
pickle.dump(model, pickle_out)
pickle_out.close()